/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --menu-blue: #1992D4;
    --main-grey: #E2E8EF;
}
html {
    overflow-y: scroll;
    overflow-x: hidden; 
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #F9FBFC;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'nav header header header'
    'nav content content content'
    'nav content content content'
    'nav content content content'
    ;
    grid-template-columns: 250px 1fr;
}

svg {
    max-width: 20px;
    fill: white;
}

.user-logo {
    width: 2.5rem;
}

#icon_dashboard {
    min-width: 50px;
    max-width: 50px;
}

h1 {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.btn {
    background-color: var(--menu-blue);
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.menu-element {
    color: white;
    font-weight: 600;
}

.siderbar {
    background-color: var(--menu-blue);
    grid-area: nav;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 3.5rem;
    padding: 1rem;
}

.logo-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.app-menu, 
.settings-menu {
    display: grid;
    gap: 1rem;
}

.menu-item {
    padding-left: 0.4rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    gap: 1px;
    cursor: pointer;
}

.header {
    align-items: center;
    justify-content: start;
    background-color: white;
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    'search profile .'
    'info buttons .'
    ;
}

.search {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-area: search;
    padding: 1rem 1rem 1rem 2rem;
    grid-template-columns: 1rem minmax(100px, 500px);
    gap: 1rem;
    grid-column: 1 / 2;
}

.search > svg,
.user-profile > svg {
    width: 20px;
    fill: black;
    cursor: pointer;
    justify-self: center;
}

input[type="text"] {
    border: none;
    border-radius: 15px;
    padding: 5px;
    background-color: var(--main-grey);
    align-self: center;
    justify-self: stretch;
}

.user-profile {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-area: profile;
    gap: 1rem;
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr 3fr;
    padding: 1rem;
}

.user-name {
    font-weight: 600;
}

.user-info {
    display: grid;
    grid-area: info;
    grid-column: 1 / 2;
    grid-template-columns: 4rem minmax(260px, 500px);
    grid-template-rows: 1fr 1fr;
    gap: 0.3rem;
    padding: 1rem 1rem 1rem 2rem;
    align-items: start; 
    justify-content: start;
}

.user-info img {
    width: 3.5rem;
    grid-row: span 2; 
}

.user-info span {
    font-size: 0.8rem;
    font-weight: 600;
}

.user-info h2 {
    font-size: 1.3rem;
}

.buttons-container {
    align-items: start;
    justify-content: start;
    display: grid;
    grid-area: buttons;
    grid-column: 2 / 3;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(3, minmax(65px, 100px));
    align-content: center;
}

.filler {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.main-content {
    justify-content: space-around;
    background-color: var(--main-grey);
    grid-area: content;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 300px;
}

.projects {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.projects h3 {
    margin: 0.7rem 0;
    font-size: 1.2rem;
}
.card-container {
    /* width: 100%; */
    display: grid;
    gap: 1rem;

    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    border-radius: 10px;
    border-left: 10px solid orange;
    padding: 1rem;
    background-color: white;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.card svg {
    fill: black;
}

.card-title {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    cursor: pointer;
}

.project-description {
    color: grey
}

.side-main {
    display: grid;
    grid-template-rows: 410px 350px;
}
.announcements h3,
.trending h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.announcements-container,
.trending-container {
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
}


.item {
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.item:last-of-type {
    border: none;
}

.announcements-item-title {
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.announcements-item-description {
    color: grey;
}

.trending-container {
    display: grid;
    gap: 1rem;
    /* grid-template-rows: ; */
}

.trending-item {
    display: grid;
    grid-template-columns: 4rem minmax(260px, 500px);
    /* grid-template-rows: 1fr 1fr; */
    gap: 0.3rem;
}

/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.attribution a {
    margin-left: 0.3rem;
}


